<a href="https://colab.research.google.com/github/mariferdamian/TC1002/blob/master/k_means_smoke.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [19]:
# Cargar el archivo de datos en un DataFrame de Pandas
df = pd.read_csv('/content/drive/MyDrive/TC1002S/Child smokers.csv')

In [20]:
# Mostrar el DataFrame
df

     Age (years)  Height (cm)  FEV (litres)     Sex  Smoker
0              9          145         1.708  female     non
1              8          171         1.724  female     non
2              7          138         1.720  female     non
3              9          135         1.558    male     non
4              9          145         1.895    male     non
..           ...          ...           ...     ...     ...
649           15          152         2.278  female  smoker
650           16          183         4.872    male  smoker
651           16          170         4.270    male  smoker
652           15          173         3.727    male  smoker
653           16          160         2.795  female  smoker

[654 rows x 5 columns]

In [ ]:
print(df)

In [21]:
# Concoer el tamaño del DataFrame
df.shape

(654, 5)

In [22]:
# Conocer las columnas del DataFrame
df.columns

Index(['Age (years)', 'Height (cm)', 'FEV (litres)', 'Sex', 'Smoker'], dtype='object')

In [23]:
# Concoer los tipos de datos del DataFrame
df.dtypes

Age (years)       int64
Height (cm)       int64
FEV (litres)    float64
Sex              object
Smoker           object
dtype: object

In [28]:
# Convertir valores categoricos a numéricos
df['Sex'] = df['Sex'].astype('category').cat.codes
df['Smoker'] = df['Smoker'].astype('category').cat.codes
df

     Age (years)  Height (cm)  FEV (litres)  Sex  Smoker
0              9          145         1.708    0       0
1              8          171         1.724    0       0
2              7          138         1.720    0       0
3              9          135         1.558    1       0
4              9          145         1.895    1       0
..           ...          ...           ...  ...     ...
649           15          152         2.278    0       1
650           16          183         4.872    1       1
651           16          170         4.270    1       1
652           15          173         3.727    1       1
653           16          160         2.795    0       1

[654 rows x 5 columns]

In [29]:
# Obtener información básica de los datos
df.describe()

       Age (years)  Height (cm)  FEV (litres)         Sex      Smoker
count   654.000000   654.000000    654.000000  654.000000  654.000000
mean      9.931193   155.298165      2.636780    0.513761    0.099388
std       2.953935    14.471647      0.867059    0.500193    0.299412
min       3.000000   117.000000      0.791000    0.000000    0.000000
25%       8.000000   145.000000      1.981000    0.000000    0.000000
50%      10.000000   156.000000      2.547500    1.000000    0.000000
75%      12.000000   166.000000      3.118500    1.000000    0.000000
max      19.000000   188.000000      5.793000    1.000000    1.000000

In [30]:
# Obtener descripciones de datos no numéricos
df.describe(include='all')

       Age (years)  Height (cm)  FEV (litres)         Sex      Smoker
count   654.000000   654.000000    654.000000  654.000000  654.000000
mean      9.931193   155.298165      2.636780    0.513761    0.099388
std       2.953935    14.471647      0.867059    0.500193    0.299412
min       3.000000   117.000000      0.791000    0.000000    0.000000
25%       8.000000   145.000000      1.981000    0.000000    0.000000
50%      10.000000   156.000000      2.547500    1.000000    0.000000
75%      12.000000   166.000000      3.118500    1.000000    0.000000
max      19.000000   188.000000      5.793000    1.000000    1.000000

In [31]:
# Eliminar filas con valores perdidos
df = df.dropna()
df.shape

(654, 5)

In [33]:
print ("Min en Age (years):", df['Age (years)'].min())
print ("Min en Height (cm):", df['Height (cm)'].min())
print ("Min en FEV (litres):", df['FEV (litres)'].min())
print ("MIN en Sex:", df['Sex'].min())
print ("MIN en Smoker:", df['Smoker'].min())

Min en Age (years): 3
Min en Height (cm): 117
Min en FEV (litres): 0.7909999999999999
MIN en Sex: 0
MIN en Smoker: 0

In [ ]:
# Guardar el DataFrame en un archivo
df.to_csv('./trabajo final.csv', index=False)

In [35]:
# Función que recibe un DataFrame, una proporción y el nombre de la clase,
# y genera cuatro conjuntos de datos para entrenamiento
# y pruebas del algoritmo de aprendizaje
from sklearn.model_selection import train_test_split

def split_label(pace, test_size, label):
    train, test = train_test_split(df, test_size=test_size)
    features = df.columns.drop(label)
    train_X = train[features]
    train_Y = train[label]
    test_X = test[features]
    test_Y = test[label]
    return train_X, train_Y, test_X, test_Y

In [36]:
# Dividir el conjunto de datos 
train_X, train_Y, test_X, test_Y = split_label(df, 0.2, 'Smoker')

In [37]:
# Aplicar one hot encoding a la columna 
from sklearn.preprocessing import OneHotEncoder

one = OneHotEncoder(handle_unknown='ignore')

result = one.fit_transform(train_X['Sex'].values.reshape(-1,1)).toarray()
train_X_1 = train_X
train_X_1[['0', '1']] = pd.DataFrame(result, index = train_X_1.index)
train_X_1

     Age (years)  Height (cm)  FEV (litres)  Sex    0    1
206            9          152         2.455    0  1.0  0.0
512           13          160         2.449    0  1.0  0.0
310           14          160         3.381    1  0.0  1.0
389           11          159         2.735    0  1.0  0.0
36             9          150         2.725    1  0.0  1.0
..           ...          ...           ...  ...  ...  ...
54             6          137         1.634    1  0.0  1.0
46             7          137         1.624    1  0.0  1.0
544           12          161         3.001    0  1.0  0.0
131            8          146         1.429    1  0.0  1.0
503           12          160         2.569    0  1.0  0.0

[523 rows x 6 columns]

In [38]:
# Aplicar escalamiento [0,1] a todos los valores
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
train_X_2 = min_max.fit_transform(train_X_1.values)
train_X_2 = pd.DataFrame(train_X_2, columns=train_X_1.columns)
train_X_2

     Age (years)  Height (cm)  FEV (litres)  Sex    0    1
0         0.3750     0.492958      0.326201  0.0  1.0  0.0
1         0.6250     0.605634      0.324990  0.0  1.0  0.0
2         0.6875     0.605634      0.513121  1.0  0.0  1.0
3         0.5000     0.591549      0.382721  0.0  1.0  0.0
4         0.3750     0.464789      0.380702  1.0  0.0  1.0
..           ...          ...           ...  ...  ...  ...
518       0.1875     0.281690      0.160476  1.0  0.0  1.0
519       0.2500     0.281690      0.158458  1.0  0.0  1.0
520       0.5625     0.619718      0.436415  0.0  1.0  0.0
521       0.3125     0.408451      0.119096  1.0  0.0  1.0
522       0.5625     0.605634      0.349213  0.0  1.0  0.0

[523 rows x 6 columns]

In [39]:
from sklearn.svm import SVC
clf = SVC()
clf.fit(train_X_2, train_Y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [42]:
# Transformación del DataFrame original

result = one.fit_transform(df['Sex'].values.reshape(-1,1)).toarray()
smoke_1 = df
smoke_1[['0', '1']] = pd.DataFrame(result, index = smoke_1.index)
smoke_2 = min_max.fit_transform(smoke_1.values)
smoke_2 = pd.DataFrame(smoke_2, columns = smoke_1.columns)

In [ ]:
# Transformación del DataFrame original
result = one.fit_transform(df['Embarked'].values.reshape(-1, 1)).toarray()
df_1 = df
df_1[['C', 'Q', 'S']] = pd.DataFrame(result, index = df_1.index)
df_2 = min_max.fit_transform(df_1.values)
df_2 = pd.DataFrame(df_2, columns=df_1.columns)

In [44]:
# Uso de clasificación por KMeans
from sklearn.cluster import KMeans
clu = KMeans(n_clusters = 3)
clu.fit(smoke_2)
clu.cluster_centers_

array([[ 4.38430060e-01,  5.71177062e-01,  4.04127635e-01,
         1.00000000e+00,  7.73809524e-02, -1.11022302e-15,
         1.00000000e+00],
       [ 3.97849462e-01,  4.84072896e-01,  3.17515288e-01,
         1.11022302e-15,  2.63677968e-16,  1.00000000e+00,
         1.11022302e-15],
       [ 6.41025641e-01,  6.61610690e-01,  4.34815817e-01,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         0.00000000e+00]])

In [45]:
clu.labels_

array([1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 2, 2, 2, 0,
       0, 0, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 2,
       2, 0, 2, 2, 2, 0, 0, 2, 2, 0, 2, 2, 0, 0, 2, 0, 2, 0, 2, 2, 2, 0,
       2, 2, 0, 2, 2, 2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 2], dtype=int32)